/*
 * som-3354-212es.dts - Device Tree file for the SOM-3354M with SOM-212ES.
 *
 * Copyright (C) 2015 EMAC Inc.
 * Copyright (C) 2015 QWERTY Embedded Design
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "som-3354.dtsi"

/ {
	model = "EMAC SOM-3354M SOM-212ES";

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "cs4271 @ SOM3354";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&codec_master>;
		simple-audio-card,frame-master = <&codec_master>;
		simple-audio-card,widgets =
			"Line", "Line In",
			"Line", "Line Out";
		simple-audio-card,routing =
			"Line In", "Capture",
			"Line Out", "Playback";

		cpu_master: simple-audio-card,cpu {
			sound-dai = <&mcasp0>;
		};

		codec_master: simple-audio-card,codec {
			sound-dai = <&cs4271>;
			clocks = <&si5351 2>;
		};
	};

	leds {
		led@1 {
			label = "carrier-led";
			gpios = <&mcp23s08 7 GPIO_ACTIVE_LOW>;
			default-state = "on";
			linux,default-trigger = "mmc1";
		};
	};
};

&spi0 {
	cs4271: cs4271@2 {
		#sound-dai-cells = <0>;
		compatible = "cirrus,cs4271";
		spi-cpol;
		spi-cpha;
		reg = <2>;
		spi-max-frequency = <1000000>;
		status = "okay";
	};

	spidev3: spidev@3 {
		compatible = "emac,spidev";
		reg = <3>;
		spi-max-frequency = <40000000>;
		status = "okay";
	};
};
