/*
 * Copyright (C) 2017 EMAC Inc. - www.emacinc.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "am3517.dtsi"

/ {
	compatible = "emac,som3517", "ti,am3517", "ti,omap3";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x20000000>; /* 512 MB */
	};

	leds {
		compatible = "gpio-leds";

		status {
			label = "status";
			gpios = <&gpio1 25 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	vmmc_fixed: vmmc {
		compatible = "regulator-fixed";
		regulator-name = "vmmc_fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
        };

	aliases {
		display0 = &lcd0;
	};

	backlight0: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm11 0 12000000 0>;
		pwm-names = "backlight";
		brightness-levels = <0 11 20 30 40 50 60 70 80 90 100>;
		default-brightness-level = <9>;	/* => 90 */
		pinctrl-names = "default";
		pinctrl-0 = <&backlight_pins>;
	};

	pwm10: dmtimer-pwm10 {
		compatible = "ti,omap-dmtimer-pwm";
		ti,timers = <&timer10>;
		#pwm-cells = <3>;
	};

	pwm9: dmtimer-pwm9 {
		compatible = "ti,omap-dmtimer-pwm";
		ti,timers = <&timer9>;
		#pwm-cells = <3>;
	};

	pwm11: dmtimer-pwm {
		compatible = "ti,omap-dmtimer-pwm";
		ti,timers = <&timer11>;
		#pwm-cells = <3>;
	};

	lcd0: display {
		compatible = "panel-dpi";
		vcc-supply = <&reg_3p3v>;
		label = "lcd";
		panel-timing {
			clock-frequency = <9000000>;

			hback-porch = <1>;
			hactive = <480>;
			hfront-porch = <44>;
			hsync-len = <45>;

			vback-porch = <1>;
			vactive = <272>;
			vfront-porch = <13>;
			vsync-len = <14>;

			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <1>;
		};

		port {
			lcd_in: endpoint {
				remote-endpoint = <&dpi_out>;
			};
		};
	};

	reg_3p3v: vcc3 {
		compatible = "regulator-fixed";
		regulator-name = "3P3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	hsusb1_phy: hsusb1_phy {
		compatible = "usb-nop-xceiv";
		vcc-supply = <&reg_3p3v>;
		reset-gpios = <&gpio2 25 GPIO_ACTIVE_LOW>;      /* gpio_57 */
       };

	clocks {
		#address-cells = <1>;
		#size-cells = <0>;

		audio_mclk: audio_mclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <12288000>;
			clock-output-names = "mclk";
		};
	};

	clock_gpio: clock_gpio {
		compatible = "gpio-gate-clock";
		clocks = <&audio_mclk>;
		#clock-cells = <0>;
		enable-gpios = <&gpio5 28 GPIO_ACTIVE_HIGH>;
	};

};

&omap3_pmx_core {
	pinctrl-names = "default";

	mcspi1_pins: pinmux_mcspi1_pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x21c8, PIN_INPUT | MUX_MODE0)	/* mcspi1_clk.mcspi1_clk */
			OMAP3_CORE1_IOPAD(0x21ca, PIN_OUTPUT | MUX_MODE0)	/* mcspi1_simo.mcspi1_simo */
			OMAP3_CORE1_IOPAD(0x21cc, PIN_INPUT_PULLUP | MUX_MODE0)	/* mcspi1_somi.mcspi1_somi */
			OMAP3_CORE1_IOPAD(0x21ce, PIN_OUTPUT | MUX_MODE0)	/* mcspi1_cs0.mcspi1_cs0 */
		>;
	};

	uart2_pins: pinxmux_uart2_pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x216c, PIN_INPUT | MUX_MODE4)	    /* mcbsp3_dx.uart2_cts */
			OMAP3_CORE1_IOPAD(0x216e, PIN_OUTPUT_PULLUP | MUX_MODE4)    /* mcbsp3_dr.uart2_rts */
			OMAP3_CORE1_IOPAD(0x2170, PIN_OUTPUT_PULLUP | MUX_MODE1)    /* mcbsp3_clk.uart2_tx */
			OMAP3_CORE1_IOPAD(0x2172, PIN_INPUT_PULLUP | MUX_MODE1)	    /* mcbsp3_fsx.uart2_rx */
			OMAP3_CORE1_IOPAD(0x21c6, PIN_OUTPUT | MUX_MODE4)   /* hdq_sio.gpio_170 */
			OMAP3_CORE1_IOPAD(0x21c2, PIN_OUTPUT | MUX_MODE4)   /* i2c3_scl.gpio_184 */
			OMAP3_CORE1_IOPAD(0x21c4, PIN_OUTPUT | MUX_MODE4)   /* i2c3_sda.gpio_185 */
		>;
	};

	uart4_pins: pinxmux_uart4_pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x20CE, PIN_OUTPUT_PULLUP | MUX_MODE1)  /* gmpc_wait1.uart4_tx*/
			OMAP3_CORE1_IOPAD(0x20D0, PIN_INPUT_PULLUP | MUX_MODE1)   /* gmpc_wait2.uart4_rx */
			OMAP3_CORE1_IOPAD(0x21E8, PIN_OUTPUT_PULLUP | MUX_MODE2)  /* ccdc_hd_simo.uart4_rts */
			OMAP3_CORE1_IOPAD(0x21EA, PIN_INPUT_PULLUP | MUX_MODE2)   /* ccdc_vd.uart4_cts */
		>;
	};

	otg_drv_vbus: pinmux_otg_drv_vbus {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x21DA, PIN_OUTPUT | MUX_MODE4)
		>;
	};

	usb1_reset: pinmux_usb1_reset {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x20ba, PIN_OUTPUT | MUX_MODE4)   /* gpmc_ncs6.gpio_57 */
		>;
	};

	backlight_pins: pinmux_backlight_pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x2174, PIN_OUTPUT | MUX_MODE2)  /* uart2_cts.gpt9_pwm_evt */
			OMAP3_CORE1_IOPAD(0x2176, PIN_OUTPUT | MUX_MODE2)  /* uart2_rts.gpt10_pwm_evt */
			OMAP3_CORE1_IOPAD(0x2178, PIN_OUTPUT | MUX_MODE2)  /* uart2_tx.gpt11_pwm_evt */
		>;
	};
};

&can0 {
	status = "okay";
};

&lcd0 {
	enable-gpios = <&gpio5 19 GPIO_ACTIVE_HIGH >;   /* gpio147 */
};

&dss {
	status = "okay";
	port {
		dpi_out: endpoint {
			remote-endpoint = <&lcd_in>;
			data-lines = <24>;
		};
	};
};

&davinci_emac {
	status = "okay";
};

&davinci_mdio {
	status = "okay";
};

&mcbsp1 {
	status = "disabled";
};

&mcbsp2 {
	#sound-dai-cells = <0>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
	rts-gpio = <&gpio5 13 GPIO_ACTIVE_HIGH>;
	rs485-rts-active-high;
	rs485-rts-delay = <1 1>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;
	status = "okay";
};

&am35x_otg_hs {
	compatible = "ti,am35x-musb";
	reg = <0x5c040000 0x1000>;
	interrupts = <71>;
	interrupt-names = "mc";
	clocks = <&hsotgusb_ick_am35xx &hsotgusb_fck_am35xx>;
	clock-names = "ick", "fck";
	multipoint = <1>;
	num-eps = <16>;
	ram-bits = <12>;
	interface-type = <1>;
	mode = <2>;
	power = <50>;
	status = "disabled"; /* currently not supported */
	pinctrl-names = "default";
	pinctrl-0 = <&otg_drv_vbus>;
};

&usb_otg_hs {
	status = "disabled";
};

&usbhshost {
	port1-mode = "ehci-phy";
};

&usbhsehci {
	phys = <&hsusb1_phy>;
	pinctrl-names = "default";
	pinctrl-0 = <&usb1_reset>;
	status = "okay";
};

&i2c1 {
	clock-frequency = <400000>;

	pcf8563@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
	};

	touchscreen: tsc2004@4b {
		compatible = "ti,tsc2004";
		reg = <0x4b>;
		vio-supply = <&reg_3p3v>;
		interrupts-extended = <&gpio5 29 IRQ_TYPE_EDGE_FALLING>;
		status = "okay";

		touchscreen-fuzz-x = <4>;
		touchscreen-fuzz-y = <7>;
		touchscreen-fuzz-pressure = <2>;
		touchscreen-size-x = <4096>;
		touchscreen-size-y = <4096>;
		touchscreen-max-pressure = <400>;

		ti,x-plate-ohms = <850>;
		ti,esd-recovery-timeout-ms = <800>;
	};
};

&i2c2 {
	clock-frequency = <400000>;
	status="okay";
};

&i2c3 {
	status="disabled";
};

&mmc1 {
	vmmc-supply = <&vmmc_fixed>;
	bus-width = <4>;
	mmc-cap-mmc-highspeed;
	status = "okay";
	ti,non-removable;
};

&mmc2 {
	vmmc-supply = <&vmmc_fixed>;
	bus-width = <4>;
	status = "okay";
	cd-gpios = <&gpio4 31 IRQ_TYPE_LEVEL_LOW>;
};

&mmc3 {
	status = "disabled";
};
