/*
 * som-3354-210es.dts - Device Tree file for the SOM-3354M with SOM-210ES. 
 *
 * Copyright (C) 2015 EMAC Inc.
 * Copyright (C) 2015 QWERTY Embedded Design
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "som-3354.dtsi"

/ {
	model = "EMAC SOM-3354M SOM-210ES";
};
