/*
 * som-3354-250es-7.dts - Device Tree file for the SOM-3354M with SOM-250ES
 *                        w/ 7 inch display
 *
 * Copyright (C) 2015 EMAC Inc.
 * Copyright (C) 2015 QWERTY Embedded Design
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "som-3354.dtsi"

/ {
	model = "EMAC SOM-3354M SOM-250ES-10";

	leds {
		pinctrl-names = "default";
		pinctrl-0 = <&leds_pins>;

		compatible = "gpio-leds";

		led@1 {
			label = "green-led";
			gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		led@2 {
			label = "red-led";
			gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&ecap2 0 50000 1>;
		brightness-levels = <0 51 53 56 62 75 101 152 255>;
		default-brightness-level = <8>;
	};

	panel {
		compatible = "ti,tilcdc,panel";
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_pins>;
		status = "okay";

		enable-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;

		panel-info {
			ac-bias		= <255>;
			ac-bias-intrpt	= <0>;
			dma-burst-sz	= <16>;
			bpp		= <16>;
			fdd		= <0x80>;
			tft-alt-mode	= <0>;
			stn-565-mode	= <0>;
			mono-8bit-mode	= <0>;
			sync-edge	= <0>;
			sync-ctrl	= <0>;
			raster-order	= <1>;
			fifo-th		= <0>;
		};

		display-timings {
			native-mode = <&timing1>;
			timing1: 1024x600 {
				hactive		= <1024>;
				vactive		= <600>;
				hback-porch     = <160>;
				hfront-porch    = <24>;
				hsync-len       = <136>;
				vback-porch     = <23>;
				vfront-porch    = <1>;
				vsync-len       = <4>;
				clock-frequency = <45000000>;
				hsync-active    = <0>;
				vsync-active    = <0>;
				de-active = <1>;
				pixelclk-active = <1>;
			};
		};

	};

	sound {
		compatible = "emac,som3354-cs4271-snd";
		ti,model = "SOM3354 CS4271";
		ti,audio-codec = <&cs4271>;
		ti,mcasp-controller = <&mcasp0>;
		ti,codec-clock-rate = <12288000>;
		clocks = <&si5351 2>;
		clock-names = "mclk";
		ti,audio-routing =
			"Line Out",       "AOUTA+",
			"Line Out",       "AOUTA-",
			"Line Out",       "AOUTB+",
			"Line Out",       "AOUTB-";
	};
};

&spi0 {
	cs4271: cs4271@2 {
		compatible = "cirrus,cs4271";
		spi-cpol;
		spi-cpha;
		reg = <2>;
		spi-max-frequency = <1000000>;
		status = "okay";
	};
};
